#page-home {
  width: 100vw;
}

#page-home-search {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-image: url('../../assets/images/landing.jpg');
  background-size: cover;
}

#page-home-search header {
  width: 100%;
  max-width: 900px;

  margin: auto;
  padding: 2.4rem 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#page-home-search header img {
  height: 6.4rem;
}

#page-home-search header #link-block {
  display: none;
}

#page-home-search-content {
  margin: auto;

  text-align: center;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-home-search-content h1 {
  font: 700 4.8rem Comfortaa;
  line-height: 5.6rem;

  margin-top: 1.6rem;

  color: var(--color-title-in-primary);
}

#page-home-search-content p {
  font: 400 1.6rem Montserrat;
  line-height: 2.4rem;

  margin: 2.4rem 0;

  color: var(--color-title-in-primary);
}

#search-form {
  width: 100%;

  margin-top: 4.8rem;
}

#search-form .select-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}

#search-form .select-block label {
  font: 700 1.6rem Montserrat;

  padding: .8rem 0;

  color: var(--color-title-in-primary);
}

#search-form .select-block select {
  width: 100%;
  height: 5.6rem;

  padding: 1.6rem;

  border: 0;
  border-radius: .8rem;

  cursor: pointer;

  transition: var(--time-transition-button);
}

#search-form .select-block select[disabled="false"]:hover {
  opacity: 0.8;
}

#search-form .select-block select:focus {
  border: 2px solid var(--color-primary);
}

.select-block + .select-block {
  margin-top: .8rem;
}

#search-form button {
  width: 100%;
  height: 5.6rem;

  margin-top: 1.6rem;

  border: 0;
  border-radius: .8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font: 700 1.8rem Montserrat;

  cursor: pointer;

  background-color: var(--color-primary);
  color: var(--color-text-in-button);
  transition: var(--time-transition-button);
}

#search-form .select-block select:disabled,
#search-form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#search-form button[disabled="false"]:hover {
  opacity: 0.8;
}

@media (min-width: 700px) {
  #page-home-search header {
    justify-content: space-between;
  }

  #page-home-search header img {
    height: 4.8rem;
  }

  #page-home-search header #link-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #page-home-search header #link-block a {
    height: 5.6rem;

    padding: 1.6rem;
    margin: 0 .8rem;

    display: flex;
    align-items: center;
    justify-items: center;

    font: 700 1.6rem Montserrat;
    color: var(--color-primary);
    text-decoration: none;

    border: 2px solid var(--color-primary);
    border-radius: .8rem;

    transition: var(--time-transition-button);
  }

  #page-home-search header #link-block a:hover {
    opacity: 0.8;
  }

  #page-home-search header #link-block a:last-child {
    background-color: var(--color-text-in-primary);
  }

  #search-form {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1fr;
    gap: 1.6rem;
  }

  #search-form button {
    align-self: flex-end;
  }

  .select-block + .select-block {
    margin-top: 0;
  }
}
