.select-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}

.select-block label {
  font: 700 1.6rem Montserrat;

  padding: .8rem 0;

  color: var(--color-title-in-primary);
}

.select-block select {
  width: 100%;
  height: 5.6rem;

  padding: 1.6rem;

  border: 0;
  border-radius: .8rem;

  transition: var(--time-transition-button);
}

.select-block select:hover {
  opacity: 0.8;
}

.select-block select:focus {
  border: 2px solid var(--color-primary);
}

.select-block + .select-block {
  margin-top: .8rem;
}

@media (min-width: 700px) {
  .select-block + .select-block {
    margin-top: 0;
  }
}
