button {
  height: 5.6rem;

  padding: 0 1.6rem;

  border: .2rem solid var(--color-primary);
  border-radius: .8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font: 700 1.8rem Montserrat;

  cursor: pointer;

  background-color: var(--color-primary);
  color: var(--color-text-in-button);
  transition: var(--time-transition-button);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:disabled:hover {
  opacity: 0.6;
}

button:hover {
  opacity: 0.8;
}
